<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>BootstrapTable分页</title>

    <!-- 引入bootstrap的css -->
    <link href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入bootstrap-treeview的css -->
    <link href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet">
    <!-- 引入bootstrap-addTabs的css -->
    <link href="../js/addTabs/addTabs.css" rel="stylesheet">
    <!-- 引入bootstrap-table的css -->
    <link href="../js/table/bootstrap-table.min.css" rel="stylesheet">
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css"/>


    <!-- 引入jquery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入my97 -->
    <script type="text/javascript" src="../js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>

    <script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>

    <style type="text/css">
        body {padding-top:55px;}
    </style>

</head>


<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <!--定义在容器顶部  -->
    <div class="container-fluid">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- 头部信息 -->
        <div class="navbar-header">
            <a class="navbar-brand glyphicon glyphicon-globe" href="javascript:dialogRedis()" id="menu-toggle">
                KnowStarts后台管理系统
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active "><a href="#" class="glyphicon glyphicon-home">&nbsp控制台<span class="sr-only">(current)</span></a></li>
                <li><a href="#" class="glyphicon glyphicon-wrench">&nbsp设备管理</a></li>
                <li><a href="#" class="glyphicon glyphicon-glass">&nbsp合作单位</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>

            <!-- 右边的    导航 按钮 -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="toStaffLogin">登录</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" id="staRole" aria-expanded="false"></a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="row">

    <div class="col-md-3">
        <div id="treeDiv"></div>
    </div>

    <div class="col-md-9">
        <ul id="tabs" class="nav nav-tabs" role="tablist">
        </ul>

        <!-- 选项卡  内容 -->
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" style="" class="tab-pane active " id="home">
            </div>
        </div>

    </div>

</div>

</body>

<script type="text/javascript">

    $(function (){
        $.addtabs({iframeHeight:870});
        $.ajax({
            url : "http://localhost:8085/queryTree",
            type : "post",
            dataType : "json",
            success : function (data){
                $("#treeDiv").treeview({
                    //data属性 树节点信息 json数组
                    data: data,
                    //tree默认展开的节点级别默认为2
                    levels: 0,
                    //含有子节点的图标
                    collapseIcon:'glyphicon glyphicon-star-empty',
                    //没有子节点的图标
                    emptyIcon:'glyphicon glyphicon-usd',
                    //背景颜色
                    //backColor: 'green'
                    //是否显示复选框
                    showCheckbox:false,
                    //是否允许选中多个节点
                    //multiSelect:true,
                    //启用节点的超链接功能默认为false,节点需指定href属性
                    enableLinks:false,
                    //事件当节点选中时
                    onNodeSelected:function(event,node){
                        //动态向 nav-tabs 导航标签添加tab选项卡
                        //addTabs方法  add() 添加tab  close()关闭tab  closeAll() 关闭全部tab
                        //alert(node.url);
                        if(null !=  node.url){

                            if($("#staRole").html()!="管理员"){
                                if(node.url=="toMain"){
                                    $.addtabs.add({
                                        id:node.id,
                                        title:node.text,
                                        url:node.url,
                                    })
                                }else{
                                    alert("您没有权限");
                                }

                            }else{
                                $.addtabs.add({
                                    id:node.id,
                                    title:node.text,
                                    url:node.url,
                                })
                            }

                        }
                    }

                })
            },error : function (){
                alert("查询树失败");
            }
        })
    })



    $.ajax({
        url:"http://localhost:8085/queryLoginById",
        type:"post",
        success:function(data){

            if(data!=null){
                if(data.role==1){
                    $("#staRole").html("作者");
                }else if(data.role==2){
                    $("#staRole").html("管理员");
                }
            }else{
                location.href="toUserLogin";
            }

        },
        error:function(){
            alert("失败")
        }
    })
</script>

</html>