<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.NewsFlashMapper" >
  <resultMap id="BaseResultMap" type="com.jk.pojo.NewsFlash" >
    <id column="flashid" property="flashid" jdbcType="INTEGER" />
    <result column="flashtitle" property="flashtitle" jdbcType="VARCHAR" />
    <result column="flashinfo" property="flashinfo" jdbcType="VARCHAR" />
    <result column="creattime" property="creattime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    flashid, flashtitle, flashinfo, creattime
  </sql>


  <select id="NewsFlashList" resultMap="BaseResultMap">
    select * from t_newsflash limit #{start},#{rows}
  </select>
  <select id="queryCount" resultType="long">
    select count(*) from t_newsflash
  </select>



  <select id="queryNewsById" resultMap = "BaseResultMap">
    select * from t_newsflash where flashid=#{flashid}
  </select>



  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_newsflash
    where flashid = #{flashid,jdbcType=INTEGER}
  </select>


  <delete id="delById" parameterType="java.lang.Integer" >
    delete from t_newsflash
    where flashid = ${id}
  </delete>





  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_newsflash
    where flashid = #{flashid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jk.pojo.NewsFlash" >
    insert into t_newsflash ( flashtitle, flashinfo,creattime
    )
    values ( #{flashtitle,jdbcType=VARCHAR}, #{flashinfo,jdbcType=VARCHAR}, #{creattime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.jk.pojo.NewsFlash" >
    insert into t_newsflash
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="flashid != null" >
        flashid,
      </if>
      <if test="flashtitle != null" >
        flashtitle,
      </if>
      <if test="flashinfo != null" >
        flashinfo,
      </if>
      <if test="creattime != null" >
        creattime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="flashid != null" >
        #{flashid,jdbcType=INTEGER},
      </if>
      <if test="flashtitle != null" >
        #{flashtitle,jdbcType=VARCHAR},
      </if>
      <if test="flashinfo != null" >
        #{flashinfo,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        #{creattime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.pojo.NewsFlash" >
    update t_newsflash
    <set >
      <if test="flashtitle != null" >
        flashtitle = #{flashtitle,jdbcType=VARCHAR},
      </if>
      <if test="flashinfo != null" >
        flashinfo = #{flashinfo,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        creattime = #{creattime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where flashid = #{flashid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.pojo.NewsFlash" >
    update t_newsflash
    set flashtitle = #{flashtitle,jdbcType=VARCHAR},
    flashinfo = #{flashinfo,jdbcType=VARCHAR},  creattime = #{creattime,jdbcType=TIMESTAMP}

    where flashid = #{flashid,jdbcType=INTEGER}
  </update>





  <select  id="NewsQueryAll" resultMap="BaseResultMap">

SELECT  * FROM  t_newsflash ORDER  BY   creattime DESC
  </select>
</mapper>