<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.InfMapper">

    <!--
    <resultMap id="baseMap" type="com.jk.model.Order">
       <result column="" property=""></result>
    </resultMap>
          id为当前映射关系声明id 方便查询结果调用
          type为当前查询结果所对应的实体类
         把数据库字段与java实体bean属性映射关联
    -->

    <select id="queryInf" resultType="com.jk.pojo.Information">
        SELECT * FROM t_information
    </select>


</mapper>