<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入bootstrap的css -->
    <link  href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="../js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="../js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css" />
    <!-- 引入jquery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入my97 -->
    <script type="text/javascript" src="../js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>
    <script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>

</head>
<body>
<form id="loginff">
    <center><h1><b>登录系统</b></h1></center>
    <br/>
    <div class="input-group" style="margin-left:650px">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" style="width:200px" class="form-control" name="username" placeholder="请输入账号" aria-describedby="basic-addon1">
    </div>
    <br/>
    <div class="input-group" style="margin-left:650px">
        <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" style="width:200px" class="form-control" name="password" placeholder="请输入密码" aria-describedby="basic-addon2">
    </div>
    <br/>
    <div class="btn-group" role="group" aria-label="..." style="margin-left:740px">
        <button type="button" onclick="login()" class="btn btn-default">登录</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" onclick="editTable()" class="btn btn-default">注册</button>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</form>
</body>
<script type="text/javascript">
    function login(){
        $.ajax({
            url:"http://localhost:8088/login",
            type:"post",
            //crossDomain: true,
            data:$("#loginff").serialize(),
            success:function(data){
                if(data==1){
                    alert("登录成功")
                    location.href="toTree";
                }else if(data==2){
                    alert("账号或密码错误")
                }
            },error:function(){
                alert("错误！！！");
            }
        });
    }

    function editTable(){
        dialog("toaddLoginUser",'http://localhost:8088/addLoginUser','用户注册');
    }





    /*
          *发送ajax请求获取jsp页面内容
          */
    function getJspHtml(urlStr){
        var  jspHtml = "";
        $.ajax({
            url:urlStr,
            type:'post',
            async:false,
            success:function(data){
                alert("ss")
                //alert(data);//data--addProduct.jsp页面内容
                jspHtml = data;
            },
            error:function(){
                bootbox.alert("ajax1失败");
            }
        });
        return jspHtml;
    }


    function  dialog(HTMLurl,submitUrl,title){
        var dialog = bootbox.dialog({
            title: title,
            message: getJspHtml(HTMLurl),   //调用方法
            buttons:{
                "save":{
                    label: '保存',
                    //自定义样式
                    className: "btn-success",
                    callback: function() {
                        $.ajax({
                            url:submitUrl,
                            type:'post',
                            data:$("#addLoginUserForm").serialize(),
                            success:function(data){
                                if(data==1){
                                    bootbox.alert("已经存在相同用户名");
                                }else{
                                    bootbox.alert("保存成功");
                                }

                                $("#bootTab").bootstrapTable('refresh');
                            },
                            error:function(){
                                bootbox.alert("注册失败");
                            }
                        });
                    }
                },
                "unSave":{
                    label: '取消',
                    //自定义样式
                    className: "btn-info",
                    callback: function() {
                        // return false;  //dialog不关闭
                    }
                }
            }
        });
    }

</script>
</html>