<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.VideoMapper" >


<!--<insert id="addVideo">
insert into T_VIDEO(headline,issuer,issueTime,introduction,videoImg,videoNews)
            values (#{headline},#{issuer},now(),#{introduction},#{videoImg},'video/512f3ef61ab7b989-20.mp4')
</insert>-->


</mapper>
