<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.UserinfoMapper" >

    <select id="findUserinfo" resultType="com.jk.pojo.User">
        SELECT * FROM t_user WHERE uid = #{userId}
    </select>

    <update id="saveUser">
        UPDATE t_user SET username = #{username} , userhead = #{userhead} , usersex = #{usersex} ,
        birthday = #{birthday} , userintro = #{userintro} , profession = #{profession} , trade = #{trade} WHERE
        uid = #{uid}
    </update>
    <update id="updatePass">
        UPDATE t_user SET password = #{password} WHERE
        uid = #{uid}
    </update>
    <select id="findCollect" resultType="com.jk.pojo.User">
SELECT * FROM infuser iu , t_user tu , t_information ti  WHERE tu.uid = iu.userId AND ti.infId = iu.infId
AND iu.userId = #{userid}
    </select>

    <!--取消收藏-->
    <delete id="cancelColl">
     DELETE FROM infuser WHERE infuserId = #{infuserId}
    </delete>
</mapper>