<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>BootstrapTable分页</title>

    <!-- 引入bootstrap的css -->
    <link href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入bootstrap-treeview的css -->
    <link href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet">
    <!-- 引入bootstrap-addTabs的css -->
    <link href="../js/addTabs/addTabs.css" rel="stylesheet">
    <!-- 引入bootstrap-table的css -->
    <link href="../js/table/bootstrap-table.min.css" rel="stylesheet">
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css"/>


    <!-- 引入jquery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入my97 -->
    <script type="text/javascript" src="../js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>


    <script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>
</head>


<body>

<div id="cToolBar">

    <!--<select class="form-control" id="doc_identity" onchange="search()">
        <option value="0">身份</option>
        <option value="2">医生</option>
        <option value="1">护士</option>
        <option value="3">其他</option>
    </select>-->

    <button type="button" class="btn btn-warning" onclick="dialogInfo('addDialogTy','http://192.168.1.137:8013/addTy','添加种类')">添加种类</button>
    <button type="button" class="btn btn-primary" onclick="delAll()">批量删除</button>
</div>

<table id="tyData"></table>

<!--<input type="checkbox" id="all" onclick="allcheck()">全选
<input type="checkbox" id="fll" onclick="fllcheck()">反选<br>-->

</body>

<script type="text/javascript">

    $(function () {

        queryInf();

    })

    queryInf = function () {
        $("#tyData").bootstrapTable({
            url: "http://192.168.1.137:8013/tyList",
            method: "post",
            striped: true,  // 斑马线效果     默认false
            //只允许选中一行
            singleSelect: true,
            //选中行是不选中复选框或者单选按钮
            clickToSelect: true,
            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            uniqueId: "infid",                 //每一行的唯一标识，一般为主键列
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,     //  最少留两列
            detailView: false,                  //是否显示父子表
            //发送到服务器的数据编码类型
            contentType: 'application/x-www-form-urlencoded;charset=UTF-8',   //数据编码纯文本  offset=0&limit=5
            toolbar: '#cToolBar',   //  工具定义位置
            columns: [
                {
                    field: 'tid', title: "", width: 5,
                    formatter: function (value, row, index) {   //  格式化  当前单元格内容
                        return "<input type='checkbox' id='xz' value=" + value + " name='chk'/>";
                    }
                },
                {field: 'tid', title: '类别id', width: 30},
                {field: 'tname', title: '类别名称', width: 30},
             /*   {field: 'staffname', title: '作者名称', width: 30},
                {field: 'releasetime', title: '发布时间', width: 30},
                {field: 'articleinformation', title: '文章内容', width: 30},
                {field: 'articleimg', title: '文章封面', width: 30,
                    formatter: function (value, row, index) {
                        return "<img src='"+row.articleimg+"' width='100px' height='80px'>"
                    }},
                {field: 'tname', title: '文章类型', width: 30},
                {field: 'topicname', title: '文章主题', width: 30},
                {field: 'subtitle', title: '二级标题', width: 30},
                */
                {field: '', title: '操作', width: 30,formatter:
                    function(value,row,index){
                        return "<button type='button' class='btn btn-info' onclick='upTy("+row.tid+")'>修改</button>  " +
                            "    <button type='button' class='btn btn-danger' onclick='deleteTy("+row.tid+")'>删除</button>";
                    }
                },

            ],
            //传递参数（*）
            queryParams: function (params) {

                var whereParams = {

                    //分页  自定义的参数         默认传 limit（展示几条）    offset（从第几条开始    起始条数）

                    "rows": params.limit,
                    "start": params.offset,

                    /*  "doc_identity": $("#doc_identity").val(),*/

                }
                return whereParams;
            },
            //前台--排序字段
            //sortName:'proPrice',
            //sortOrder:'desc',
            //前台--搜索框
            search: false,
            //启动回车键做搜索功能
            searchOnEnterKey: true,
            //分页方式   后台请求的分页方式
            sidePagination: 'server',
            pagination: true,                   //是否显示分页（*）
            pageNum: 1,                       //每页的记录行数（*）
            pageSize: 3,                       //每页的记录行数（*）
            pageList: [3, 6, 9, 12],        //可供选择的每页的行数（*）
        });
    }

    function search() {

        $("#tyData").bootstrapTable("refresh");
    }


    delAll = function(){
        var temp = "";
        var count=0;
        $("[name='chk']:checked").each(function(){
            temp+=","+$(this).val();
            count++;                               });
        var ids = temp.substr(1);
        if(confirm("您确定删除这"+count+"信息吗?")){
            $.ajax({
                url:"http://192.168.1.137:8013/deleteAllTy",
                type:'post',
                data:{ids:ids},
                success:function(){
                    bootbox.alert("删除成功");
                    $("#tyData").bootstrapTable("refresh");
                },
                error:function(){
                    bootbox.alert("失败");
                }
            });
        }
    }
    $("input[name='chk']:checked")


    //弹框
    dialogInfo = function (HTMLurl, submitUrl, title) {
        var dialog = bootbox.dialog({
            title: title,
            message: getJspHtml(HTMLurl),   //调用方法
            buttons: {
                "save": {
                    label: '保存',
                    //自定义样式
                    className: "btn-success",
                    callback: function () {
                        $.ajax({
                            url: submitUrl,
                            type: 'post',
                            data: $("#addform").serialize(),
                            success: function () {
                                bootbox.alert("保存成功");
                                $("#tyData").bootstrapTable("refresh");
                                //location.reload();
                            },
                            error: function () {
                                bootbox.alert("失败");
                            }
                        });
                    }
                },
                "unSave": {
                    label: '取消',
                    //自定义样式
                    className: "btn-info",
                    callback: function () {
                        // return false;  //dialog不关闭
                    }
                }
            }
        });
    }


    function getJspHtml(urlStr) {
        var jspHtml = "";
        // async  (默认: true) 默认设置下，所有请求均为异步请求。如果需要发送同步请求，请将此选项设置为 false。
        //注意，同步请求将锁住浏览器，用户其它操作必须等待请求完成才可以执行。
        $.ajax({
            url: urlStr,
            type: 'post',
            //同步的ajax
            async: false,
            success: function (data) {
                jspHtml = data;
            },
            error: function () {
                bootbox.alert("ajax失败");
            }
        });
        return jspHtml;
    }
    //修改的 弹框
    function  dialogCurr(HTMLurl,submitUrl,title,tid){

        var dialog = bootbox.dialog({
            title: title,
            message: getJspHtml(HTMLurl),   //调用方法
            buttons:{
                "save":{
                    label: '保存',
                    //自定义样式
                    className: "btn-success",
                    callback: function() {
                        $.ajax({
                            url:submitUrl,
                            type:'post',
                            data:$("#upform").serialize(),
                            success:function(data){
                                $("#tyData").bootstrapTable('refresh');
                                bootbox.alert("保存成功");

                            },
                            error:function(){
                                bootbox.alert("ajax失败");
                            }
                        });
                    }
                },
                "unSave":{
                    label: '取消',
                    //自定义样式
                    className: "btn-info",
                    callback: function() {
                        // return false;  //dialog不关闭
                    }
                }
            }
        });

        $.ajax({
            url:"http://192.168.1.137:8013/queryTyById",
            type:'post',
            data:{tid:tid},
            success:function(data){
              $("#tid").val(data.tid);
                $("#tname").val(data.tname);
                /*
                $("#subtitle").val(data.subtitle);
                $("#showImg").attr("src",data.articleimg);
                $("#releasetime").val(data.releasetime);
                $("#articleinformation").val(data.articleinformation);
                $("#articleimg").val(data.articleimg);
                $("#tyid option").each(function(){
                    if($(this).val() == data.tyid){
                        $(this).attr("selected", true);
                    }
                });

                $("#topicid option").each(function(){
                    if($(this).val() == data.topicid){
                        $(this).attr("selected", true);
                    }
                });*/

            },
            error:function(){
                bootbox.alert("失败");
            }
        });
    }

    upTy = function(tid){

        dialogCurr('updDialogTy','http://192.168.1.137:8013/upTy',"修改",tid);

    }

    deleteTy = function (tid) {

        $.ajax({
            url:"http://192.168.1.137:8013/deleteTy",
            type:'post',
            data:{tid:tid},
            success:function(){
                bootbox.alert("删除成功");
                $("#tyData").bootstrapTable("refresh");
            },
            error:function(){
                bootbox.alert("失败");
            }
        });

    }

    exportDoctor = function() {
        /* $.ajax({
             url: "exportDoctor",
             type: 'post',
             data: {},
             success: function () {
                 //$("#infData").bootstrapTable("refresh");
             },
             error: function () {
                 bootbox.alert("失败");
             }
         });*/

        location.href="exportDoctor";
    }


    //全选
    function  allcheck(){
        var all=document.getElementById("all").checked;
        var name=document.getElementsByName("chk");
        for(var i=0;i<name.length;i++){

            name[i].checked=all;

        }

    }
    //反选
    function  fllcheck(){

        var name=document.getElementsByName("chk");
        for(var i=0;i<name.length;i++){

            name[i].checked =!name[i].checked;

        }

    }

</script>

</html>