<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search</title>

    <!-- 引入bootstrap的css -->
    <link href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入bootstrap-treeview的css -->
    <link href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet">
    <!-- 引入bootstrap-addTabs的css -->
    <link href="../js/addTabs/addTabs.css" rel="stylesheet">
    <!-- 引入bootstrap-table的css -->
    <link href="../js/table/bootstrap-table.min.css" rel="stylesheet">
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css"/>





    <!-- 引入jquery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入my97 -->
    <script type="text/javascript" src="../js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>


    <script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>
</head>
<body>

<div style="height: 730px;width: auto;">
    <div style="width: 150px;height: 730px;float: left;"></div>
    <div style="width: 1359px;height: 730px;float: right;">
        <div style="height: 730px;width: 1209px;float: left;">
            <div style="height: 230px;width: 1200px;float: top;">
                <div style="height: 230px;width: 300px;float: left;">
                    <img src="http://gaokangle.oss-cn-beijing.aliyuncs.com/gaoakngle/1562810017993.png?Expires=1563991614&OSSAccessKeyId=LTAIVgOSeiYLY2E5&Signature=uB%2Bl3e%2BTATqIPNHxqGeEkxzKhmQ%3D">
                </div>
            </div>
            <div style="height: 500px;width: 1200px;">
                <form id="mongoForm" method="post">
                    <div class="form-group">
                        <label for="inftitleId"></label>
                        <input type="text" class="form-control" value=""  name="inftitle"  id="inftitleId" placeholder="请输入搜索内容">

                        <center><button type="button" class="btn btn-success btn-lg" onclick="search()">搜索</button></center>
                    </div>
                </form>

            </div>
        </div>

    <div style="width: 150px;height: 730px;float: right;"></div>
    </div>

</div>

</body>

<script>
    var Myip ="http://192.168.1.126:8087";

function search(){
    var  inftitle = $("#inftitleId").val();
    $.ajax({
        url:Myip+"/findUserinfo",
        type:'post',
        dataType:'json',
        data:{inftitle:inftitle},
        success:function(){


        },
        error:function(){


        }
    })
}
</script>
</html>