<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>常用点赞及取消点赞动画jquery特效</title>
    <meta name="keywords" content="常用,点赞,取消点赞,点赞动画,jquery特效" />
    <meta name="description" content="常用点赞及取消点赞动画jquery特效。" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--样式表开始-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/zzsc-demo.css">
    <link rel="stylesheet" type="text/css" href="css/icons.css" />
    <!-- 引入bootstrap的css -->
    <link href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入bootstrap-treeview的css -->
    <link href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet">
    <!-- 引入bootstrap-addTabs的css -->
    <link href="../js/addTabs/addTabs.css" rel="stylesheet">
    <!-- 引入bootstrap-table的css -->
    <link href="../js/table/bootstrap-table.min.css" rel="stylesheet">
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css"/>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- 引入jquery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入my97 -->
    <script type="text/javascript" src="../js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.jsdaima.com/Upload/1482989740/demo.css"/>
    <!--样式表结束-->
    <script type="text/javascript" src="https://www.jsdaima.com/Upload/1482989740/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        function stops(){
            return false;
        }
        document.oncontextmenu=stops;
    </script>
</head>

<body>

<!--动态点赞开始-->
<div class="text-content">
    <h1>艾弗森、科比、詹姆斯，谁的得分能力更强？</h1>

</div>


<!--
<img src='https://www.jsdaima.com/Upload/1482989740/yizan.png' id='praise-img' class='animation' />
-->

<div style="align-content: center">
    <div class="praise" style="float: left">
        <span id="praise" onclick="opZhan()"><img src="https://www.jsdaima.com/Upload/1482989740/zan.png"/></span>
        <span id="zhanCount"></span>
    </div>

    <div class="praise" style="float: left">
        <span id="prai" onclick="opShou()"><img src="img/aa.png"/></span>
        <span id="shouCount"></span>
    </div>
    <div>
        <textarea class="form-control" rows="3" id="pinglun"></textarea>
        <input type="button" value="发布评论" onclick="addPing()">

        <textarea class="form-control" name="pingContent" rows="3" id="pingContent" onclick="queryPing()"></textarea>
    </div>

</div>

<!--动态点赞结束-->
<script src="js/jquery-1.11.0.min.js" type="text/javascript"></script>

<script>

    $(function(){
        queryZhan();
        queryShou();
        queryPing();
    })

    //查询点赞数量
    queryZhan = function(){

        var infId = 99;

        $.ajax({
            url:"http://192.168.1.118:8000/queryZhan",
            type:'get',
            data:{infId:infId},
            success:function(data){

                $("#zhanCount").html(data.zhanCount);
                if(data.inId!=null){
                    $("#praise").html("<img src='https://www.jsdaima.com/Upload/1482989740/yizan.png' id='praise-img' class='animation' />");
                }else{
                    $("#praise").html("<img src=\"https://www.jsdaima.com/Upload/1482989740/zan.png\"/>");
                }

            },
            error:function(){
                bootbox.alert("失败");
            }
        });
    }
    //查询评论
    queryPing = function(){
        var infId = 99;
        $.ajax({
            url:"http://192.168.1.118:8000/queryPing",
            type:'get',
            data:{infId:infId},
            success:function(data){

                $("#pingContent").html(data.pingContent);

            },
            error:function(){
                bootbox.alert("失败");
            }
        });
    }
    //评论操作
    addPing = function(){
        var sp=$("#pinglun").val();
        $.ajax({
            url:"http://192.168.1.118:8000/addPing",
            type:'post',
            data:{infId:99,sp:sp},
            success:function(){
                alert(sp)
                queryPing();
            },
            error:function(){
                bootbox.alert("失败");
            }
        });

    }
    //操作点赞
    opZhan = function(){

        $.ajax({
            url:"http://192.168.1.118:8000/zizi",
            type:'post',
            data:{infId:99},
            success:function(){
                queryZhan();
            },
            error:function(){
                bootbox.alert("失败");
            }
        });

    }




    //查询收藏数量
    queryShou = function(){

        var infId = 99;

        $.ajax({
            url:"http://192.168.1.118:8000/queryShou",
            type:'get',
            data:{infId:infId},
            success:function(data){

                $("#shouCount").html(data.shouCount);
                if(data.inId!=null){
                    $("#prai").html("<img src=\"img/bb.jpg\"/>");
                }else{
                    $("#prai").html("<img src=\"img/aa.png\"/>");
                }

            },
            error:function(){
                bootbox.alert("失败");
            }
        });
    }

    //收藏操作
    opShou = function(){

        $.ajax({
            url:"http://192.168.1.118:8000/opShou",
            type:'post',
            data:{infId:99},
            success:function(){
                queryShou();
            },
            error:function(){
                bootbox.alert("失败");
            }
        });

    }



</script>


</body>
</html>
